form {
    width: 30%;
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;

    h1 {
        text-align: center;
        margin: 20px 0;
    }

    .input {
        width: 80%;
        padding: 0 10%;
    }

    .btn {
        display: flex;
        justify-content: center;
        margin: 10px 0;

        button {
            width: 50%;
        }
    }
}
.hobbies{
    width: 80%;
    margin: auto;
    text-align: center;
}

.container {
    margin: 100px 0;
}